@import 'variables'

.search-panel
    padding: 20px
    background: #ffffff
    border-bottom: 1px solid darken(#fff,10%)

h4
    color: $paneltextcolor

.message-board
    backgorund: #fff
    border-bottom: 1px solid darken(#fff,10%)

.message-panel
    position: relative
    margin: 20px
    padding: 20px
    background: #ffffff
    border: 1px solid darken(#fff,10%)
	
    .news-id
        color: $sidebarlogobg

    .news-title
        margin-top: 10px
    
    .news-img
        margin-bottom: 5px
        margin-right: 10px
        max-width: 350px

    .news-date
        position: absolute
        top: 20px
        right: 30px
        
    #news-content
        white-space: nowrap
        width: 50em
        overflow: hidden
        text-overflow: ellipsis

    h2
        color: $paneltextcolor
        font-weight: bold

    a
        color: $paneltextcolor
        &:hover
            text-decoration: none
            color: $paneltextcolor