<div class="container center-register">
        <form class="register" method="post" action="" novalidate>
            <h1 class="register-title">New@World</h1>
			<p class="text-center">SET YOUR CATEGORY</p>

            
            <div class="col-md-12 input-group">
                <div class="col-md-8">
                    <div class="checkbox">
                        <label> <input type="checkbox"> test </label>
                    </div>
                </div>
            </div>

            <hr>

			<input class="signup-button center-block" type="submit" id="register" name="register" value="Send">


        </form>
	</div>