<div id="wrapper">
    <div id="sidebar">
        <div class="semifluid-layout">
            <div class="sidebar-logo">
                <a ui-sref='login'> News@World - Dashboard </a>
            </div>
                <menu content="userMenu" />
            <div class="sidebar-copyrights">
                Copyright &copy; News@World 2016
            </div>
        </div>
    </div>
       
    <section class="container-fluid">
        <div class="row">
            <div class="container-fluid col-md-12">
                <div ui-view></div>
            </div>   
        </div>
    </section>
</div>